.unrated {
    color: #000000 !important;
    display: inline-block;
    font-weight: 400;
}
.rated {
    display: inline-block;
    font-weight: 700;
}
.newbie, .zero, .negative {
    color: #808080 !important;
}
.high-newbie {
    color: #88cc22 !important;
}
.pupil, .positive {
    color: #008000 !important;
}
.specialist {
    color: #03a89e !important;
}
.expert {
    color: #0000ff !important;
}
.candidate-master {
    color: #aa00aa !important;
}
.master, .international-master, .international-master2 {
    color: #ff8c00 !important;
}
.grandmaster, .international-grandmaster, .international-grandmaster2, .legendary-grandmaster {
    color: #ff0000 !important;
}
.international-master2:first-letter {
    color: #ff0000 !important;
}
.international-grandmaster2:first-letter {
    color: #ff00ff !important;
}
.legendary-grandmaster:first-letter {
    color: #000000 !important;
}
.head-quarters {
    color: #000000 !important;
}
.positive, .zero, .negative {
    font-weight: bold;
}