* {
    margin: 0px;
    padding: 0px;
}
a, a:link {
    text-decoration: none;
    color: #7c4dff;
}
a:hover, a:active {
    text-decoration: none;
    color: #ff1744;
}
div.main {
    padding: 12px;
    border: medium inset #8e44ad;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom, #FBD3E9, #BB377D);
}